<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <th:block th:include="fragments/header.html :: header(title = 'Test Talk JS')"/>-->
    <meta class="talkJSAppId" th:content="${talkJSAppId}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<nav th:replace="partials/navbar2 :: nav2"></nav>
<body>
<input id="user-id" type="hidden" th:value="${user.id}">
<input id="username" type="hidden" th:value="${user.username}">
<input id="email" type="hidden" th:value="${user.email}">
<!--<input id="photo-url" type="hidden" th:value="${user.profileImageURL}">-->
<input id="other-user-id" type="hidden" th:value="${otherUser.id}">
<input id="other-username" type="hidden" th:value="${otherUser.username}">
<input id="other-email" type="hidden" th:value="${otherUser.email}">
<!--<input id="other-photo-url" type="hidden" th:value="${otherUser.profileImageURL}">-->
<!-- minified snippet to load TalkJS without delaying your page -->
<script>
    (function(t,a,l,k,j,s){
        s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
        ;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
                    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
</script>

<!-- container element in which TalkJS will display a chat UI -->
<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px"><i>Loading chat...</i></div>

<!-- TalkJS initialization code, which we'll customize in the next steps -->
<script>
    Talk.ready.then(function() {
        const me = new Talk.User({
            id: document.getElementById("user-id").value,
            name: document.getElementById("username").value,
            email: document.getElementById("email").value,
            // photoUrl: document.getElementById("photo-url").value,
        });
        window.talkSession = new Talk.Session({
            appId: document.querySelector('meta.talkJSAppId').content,
            me: me
        });
        const other = new Talk.User({
            id: document.getElementById("other-user-id").value,
            name: document.getElementById("other-username").value,
            email: document.getElementById("other-email").value,
            // photoUrl: document.getElementById("other-photo-url").value,
        });

        const conversation = talkSession.getOrCreateConversation(Talk.oneOnOneId(me, other))
        conversation.setParticipant(me);
        conversation.setParticipant(other);
        // subject is optional
        conversation.setAttributes({
            subject: "Workout chat"
        });
        const inbox = talkSession.createInbox({selected: conversation});
        inbox.mount(document.getElementById("talkjs-container"));
    });
</script>
</body>
</html>