<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head th:replace="fragments/header.html :: header(title = 'Latest Posts')"></head>-->
<head></head>
<nav th:replace="partials/navbar2 :: nav2"></nav>
<body>
<!--<nav th:replace="fragments/navbar.html :: navbar"></nav>-->
<div th:each="user : ${userList}">
    <h1 th:text = "${user.username}"></h1>
    <a th:href="@{|/test/${user.id}|}"><button>Chat</button></a>
</div>
<!--<div th:replace="fragments/body-scriptsBootstrap.html :: body-scripts"></div>-->
</body>
</html>