.landing-bg{
    background-image: url("img/imagecontainer/man-and-woman-holding-battle-ropes-1552242.jpg") !important;
    background-size: cover;
}

.login-bg{
    background-image: url("img/imagecontainer/barbell-on-the-floor-1552252.jpg") !important;
    background-size: cover;
}
.login-body{
    background-color: #559ea6;
   background-size: cover;
}

.posts-bg{
    background-image: url("img/imagecontainer/brass-colored-ring-with-black-strap-1552251.jpg")!important;
    background-size: cover;
}
nav{
    opacity: 50% !important;
    /*background-color: transparent!important;*/
}

a:hover {
             color: white;
             /*background-color: #DC3545;*/
         }
.profile-bg{
    background-image: url("img/imagecontainer/grayscale-photo-of-black-adjustable-dumbbell-949131.jpg")!important;
    background-size: cover;
}
.create-bg{
    background-image: url("img/imagecontainer/barbell-near-belt-949132.jpg")!important;
    background-size: cover;
}
.edit-bg{
    background-image: url("img/imagecontainer/barbells-on-gray-surface-669584.jpg")!important;
    background-size: cover;
}

.logo-bottom:hover{
    color: #DC3545;
}
*{
    font-family: 'Permanent Marker', cursive;
}
#landing-h1{
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
}
#landing-btn{
    color: whitesmoke;
}
#signup-bg{
    background-image: url("img/imagecontainer/person-lifting-barbell-indoors-2261485.jpg")!important;
    background-size: cover;
}
#signup-content{
    background-color: #559ea6;
}
#button{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#login-button{
    background-color: #DC3545;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.swole-logo{
    font-family: 'Permanent Marker', cursive;
    color: #DC3545;
}

#swole-logo{
    font-size: 2em;
}

.swole-logo:hover{
    color: white;
}

#swole-logo:hover{
    color: white;
}

.nav-item .nav-link{
    color: white;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
}


#quote{
    color: white;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}

#about-us-container{
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
}

#landing-btn .buy-stock-btn{
    font-family: 'Permanent Marker', cursive;
    background-color: transparent;

}
.eventCard {
    border-radius: 10px;
    display: inline-block;
    padding: 1em;
    margin: 0 0 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.eventImage {
    border-radius: 5px;
    height: auto;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#aboutus{
    background-image: url("img/imagecontainer/gray-barbel-plates-669576.jpg");
    background-size: cover;
}
.aboutContainer {
    margin: 2em auto;
    width: 90%;
    max-width: 1024px;
    column-gap: 3em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aboutCard {
    width: 250px;
    border-radius: 10px;
    display: inline-block;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #559ea6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.aboutCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
i{
    color: black;
}
.names{
    color: black;
}
