<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
<div th:include="partials/navbarEdit :: navEdit"></div>
<div class="card mx-auto text-center md-2" style="width: 35rem;">
        <div class="card-body" style="width: 35rem">
        <h1>Edit Post</h1>
        <form th:action="@{|/posts/${post.id}/edit|}" th:method="POST">
            <label for="title">Title</label>
            <br>
            <input id="title" type="text" name="title" th:value="${post.title}" placeholder="Enter title">
            <br>
            <label for="body">Body</label>
            <br>
            <textarea id="body" name="body" th:text="${post.body}" placeholder="Enter body"></textarea>
            <br>
            <button type="button" class="btn btn-lg bg-danger btn-block btn-outline-danger" id="button">Update Post</button>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>