<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>

<footer th:fragment="footer" class="footer mt-auto py-3 text-white">
    <nav class="navbar fixed-bottom bg-transparent text-white">
        <a class="navbar-brand logo-bottom text-white mx-auto" href="/about-us">About Swole Mates</a>
    </nav>










    <!--    <div class="container">-->
<!--        <span>-->
<!--            <a class="nav-item nav-link active" href="/posts/create">Create a new workout listing</a>-->
<!--            <a class="nav-item nav-link" href="/profile">Profile</a>-->
<!--            <a class="nav-item nav-link" href="/about-us">About Us</a>-->

<!--        </span>-->
<!--    </div>-->
</footer>
</body>
</html>