<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body class="login-bg">
<div th:include="partials/navbarLogin :: navLogin"></div>
<header class="container">
    <div class="jumbotron bg-transparent text-white">
        <h1 class="text-center display-1">Login</h1>
    </div>
</header>
<div class="row col-4 justify-content-center align-self-center mx-auto text-center p-2 card login-box-image">
    <div class="login-body">
            <div class="mb-4 login-warn">
                <div th:if="${param.error}">
                    Invalid Username or Password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>

            <div class="login">
            <form th:action="@{/login}" method="post">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="form-group">
                                <label for="username"></label>
                                <input id="username" name="username" type="text" placeholder="Username">
                        <span></span>
                            </div>
                            <div>
                                <label for="password"></label>
                                <input id="password" name="password" type="password" placeholder="Password">
                                <span></span>
                            </div>


<!--                    <input type="submit" class="login-btn mt-2 bg-danger" id="btn btn-outline-info" value="Log In"/>-->
<!--                     <a th:href="@{/login}" id="landing-btn" class="my-2"><button type="submit" class="btn bg-danger btn-block btn-outline-danger" id="button">Login</button></a> -->
<!--                    <a href="/profile" id="loginbtnbtn" class="mt-2 md-2"><button type="button" class="btn btn bg-danger btn-block btn-outline-danger" id="button">Login</button></a>-->
                    <input type="submit" class="login-btn mt-2 mb-2 bg-danger btn-outline-danger" id="loginbtn" value="Log In"/>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>