<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<div class="signup-content">
    <div class="register-body d-flex justify-content-center flex-column">
        <div class="text-center px-2">
        </div>
        <div class="container">
            <h1 class="text-center mb-4 sign-up">SIGN-UP</h1>
            <form th:action="@{/register}" th:method="POST" th:object="${user}">
                <div class="d-flex flex-column justify-content-center align-items-center">
    <form th:action="@{/sign-up}" method="POST" th:object="${user}">
     <label for="username">Username</label>
    <input th:field="*{username}" />

    <label for="email">Email</label>
    <input th:field="*{email}" />

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" />

    <label for="age">Age</label>
    <input  th:field="*{age}" />

    <label for="zip">ZIP</label>
    <input  th:field="*{zip}" />
                <br>
                <button type="submit" class="register-btn mt-1">Register</button>
        </form>
        <div class="d-flex justify-content-center align-items-center pt-2 mb-0">
        </div>
    </div>
            </form>
</div>
    </div>
</div>

</body>
</html>