<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:include="partials/navbar :: nav"></div>

<div class="container text-center page-content">
    <h2 class="display-3 mt-5 pt-5 mb-0">CREATORS OF SWOLE MATES</h2>
    <div class="d-flex justify-content-center align-items-start">

        <div class="container px-0 d-flex justify-content-center align-items-center">
            <div class="card-group">
                <div class="card m-3">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="card-body py-0">
                            <div class="mx-3 mt-4 mb-5 pt-2">
                                <h1 class="card-title text-center">Chris Cyr</h1>
                            </div>
                            <div class="card-img-overlay d-flex justify-content-center align-items-end pb-0">
                                <div class="d-inline-flex socials-container">
                                    <a href="https://www.linkedin.com/in/Chris-Cyr17"
                                       class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                    <a href="https://github.com/Chris-Cyr"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-github-square fa-2x"></i>
                                    </a>
                                    <a href="https://alumni.codeup.com/students/772"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <img src="/img/imagecontainer/codeup-logo.png" alt="codeup link">
                                    </a>
                                    <a href=""
                                       class="pl-1 pr-2 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-envelope-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="/img/imagecontainer/Chris-Cyr.jpg" class="about-us-img" alt="Chris's profile">
                        </div>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="card-body py-0">
                            <h1 class="card-title m-3 text-center">Alex Bonawitz</h1>
                            <img src="/img/imagecontainer/Alexander-Bonawitz.jpg" class="about-us-img" alt="Alex's profile">
                            <div class="card-img-overlay d-flex justify-content-center align-items-end pb-0">
                                <div class="d-inline-flex socials-container">
                                    <a href="https://www.linkedin.com/in/|ab10698"
                                       class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                    <a href="https://github.com/ab10698"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-github-square fa-2x"></i>
                                    </a>
                                    <a href="https://alumni.codeup.com/students/787"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <img src="/img/imagecontainer/codeup-logo.png" alt="codeup link">
                                    </a>
                                    <a href="mailto:Alexander.L.Bonawitz@gmail.com "
                                       class="pl-1 pr-2 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-envelope-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="card-body py-0">
                            <h1 class="card-title mx-3 mt-4 mb-5 pt-2 text-center">Gaston Tarango</h1>
                            <img src="/img/imagecontainer/Gaston-Tarango.jpg" class="about-us-img" alt="Gaston's profile">
                            <div class="card-img-overlay d-flex justify-content-center align-items-end pb-0">
                                <div class="d-inline-flex socials-container">
                                    <a href="https://www.linkedin.com/in/gaston-tarango/"
                                       class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                    <a href="https://github.com/gaston-tarango"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-github-square fa-2x"></i>
                                    </a>
                                    <a href="https://alumni.codeup.com/students/784"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <img src="/img/imagecontainer/codeup-logo.png" alt="codeup link">
                                    </a>
                                    <a href="mailto:gaston.tarango@gmail.com"
                                       class="pl-1 pr-2 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-envelope-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>