<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet.css">
    <script src="https://kit.fontawesome.com/3f24a700e3.js" crossorigin="anonymous"></script>

</head>
<body id="aboutus">
<nav th:replace="partials/navbar2 :: nav2"></nav>
<div class="aboutContainer">
    <div class="aboutCard">
        <img class="eventImage" src="img/imagecontainer/Chris-Cyr.jpg" alt="Chris Cyr">
        <h2 class="names">Chris</h2>
        <h2 class="names">Cyr</h2>
        <a href="https://www.linkedin.com/in/chris-cyr17/"><i class="fab fa-linkedin fa-2x"></i></a>
        <span>&emsp;</span>
        <a href="https://github.com/Chris-Cyr"><i class="fab fa-github-square fa-2x"></i></a>
        <span>&emsp;</span>
        <a href="https://alumni.codeup.com/students/772"><i class="fas fa-graduation-cap fa-2x"></i></a>
    </div>
    <div class="aboutCard">
        <img class="eventImage" src="img/imagecontainer/Alexander-Bonawitz.jpg" alt="Alexander Bonawitz">
        <h2 class="names">Alexander</h2>
        <h2 class="names">Bonawitz</h2>
        <a href="https://www.linkedin.com/in/ab10698/"><i class="fab fa-linkedin fa-2x"></i></a>
        <span>&emsp;</span>
        <a href="https://github.com/ab10698"><i class="fab fa-github-square fa-2x"></i></a>
        <span>&emsp;</span>
        <a href="https://alumni.codeup.com/students/787"><i class="fas fa-graduation-cap fa-2x"></i></a>
    </div>
    <div class="aboutCard">
        <img class="eventImage" src="img/imagecontainer/Gaston-Tarango.jpg" alt="Gaston Tarango">
        <h2 class="names">Gaston</h2>
        <h2 class="names">Tarango</h2>
        <a href="https://www.linkedin.com/in/gaston-tarango/"><i class="fab fa-linkedin fa-2x"></i></a>
        <span>&emsp;</span>
        <a href="https://github.com/Gaston-Tarango"><i class="fab fa-github-square fa-2x"></i></a>
        <span>&emsp;</span>
        <a href="https://alumni.codeup.com/students/784"><i class="fas fa-graduation-cap fa-2x"></i></a>
    </div>
</div>
</body>
</html>