<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title> Title</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body class="landing-bg" >
<div th:include="partials/navbar :: nav"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="page-content">

    <div class="container ">
        <div class="main-content my-4 d-flex flex-column justify-content-center align-items-center">
            <h1 id="landing-h1" class="mb-0 mc-heading">Welcome to Swole Mates</h1>
            <a href="/sign-up" id="landing-btn" class="mt-5"><button class="buy-stock-btn">Ready to get Swole?</button></a>
        </div>
    </div>

    <div class="container">
        <div>

        </div>
    </div>

</div>

</body>
</html>