<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Title</title>
</head>
<body>
<h1>Welcome to the Swolemates landing page! Are you ready to workout?</h1>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/sign-up">Sign-up today!</a>
    </div>
    <div>
        <a class="nav-item nav-link" href="/login">Already have an account? click here!</a>
    </div>

</div>
</body>