<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="m-3" th:text="'Welcome, ' + ${user.username}+ '!'"></h1>
            <h3  th:text="'Your current email: ' + ${user.email}"></h3>
            <h3  th:text="'Your age: ' + ${user.age}"></h3>
            <h3  th:text="'Your current ZIP code: ' + ${user.zip}"></h3>

            <div class="row justify-content-center">
                <div class="col-3 text-center">
                    <a th:href="@{/edit}"><button>Edit profile</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>